@page
@model PRN221PE_SP24_TrialTest_DinhTrungKien.Pages.Eyeglasses.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Eyeglass</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ValidEyeglassesData.EyeglassesId" class="control-label"></label>
                <input asp-for="ValidEyeglassesData.EyeglassesId" class="form-control" />
                <span asp-validation-for="ValidEyeglassesData.EyeglassesId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValidEyeglassesData.EyeglassesName" class="control-label"></label>
                <input asp-for="ValidEyeglassesData.EyeglassesName" class="form-control" />
                <span asp-validation-for="ValidEyeglassesData.EyeglassesName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValidEyeglassesData.EyeglassesDescription" class="control-label"></label>
                <input asp-for="ValidEyeglassesData.EyeglassesDescription" class="form-control" />
                <span asp-validation-for="ValidEyeglassesData.EyeglassesDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValidEyeglassesData.FrameColor" class="control-label"></label>
                <input asp-for="ValidEyeglassesData.FrameColor" class="form-control" />
                <span asp-validation-for="ValidEyeglassesData.FrameColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValidEyeglassesData.Price" class="control-label"></label>
                <input asp-for="ValidEyeglassesData.Price" class="form-control" />
                <span asp-validation-for="ValidEyeglassesData.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValidEyeglassesData.Quantity" class="control-label"></label>
                <input asp-for="ValidEyeglassesData.Quantity" class="form-control" />
                <span asp-validation-for="ValidEyeglassesData.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValidEyeglassesData.LensTypeId" class="control-label"></label>
                <select asp-for="ValidEyeglassesData.LensTypeId" class="form-control" asp-items="ViewBag.LensTypeName"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
